<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About this thing</title></%block>

<section class="container about">
  <nav>
    <a href="#about" class="active">About</a>
    <a href="#faq">Faq</a>
    <a href="#contact">Contact</a>
  </nav>

  <section class="vision">
    <section class="message left" id="about">
    </section>

    <section class="message left" id="faq">
    </section>

    <section class="message left" id="contact">
    </section>
  </section>

</section>
