## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon" style="width: 80%; margin: 0;">
      <div class="footer-info-image" style="height: 110px; float: left;">
        <img src="${static.url('themes/carnegie/images/ica.png')}" alt="ICA logo" width="191" style="display: block; float: left; padding-right: 10px; margin-right: 15px; border-right: 1px solid #c4c5c7"/>
      </div>
    <div class="references" style="width: 20%;">
      <div style="margin-top: 12px;">Built on <a href="http://code.edx.org">OpenEdX</a>.</div>
    </div>
  </footer>
</div>
